<nav class="nav">
    <a class="nav-link" href="{{ url('app_search_index') }}">Search</a>
    <a class="nav-link" href="{{ url('app_search_like') }}">Related Docs</a>
    <a class="nav-link" href="{{ url('app_crawler_start') }}">Start Crawler</a>
    <a class="nav-link" href="{{ url('app_clustering_index') }}">Clustering</a>
</nav>